{{ if not .IsHome }}
    {{ if .Params.authors -}}
    <aside class="authors">
        by
        {{ $authorsLen := sub (len $.Params.authors) 1}}
        {{ range $i, $e := .Params.authors }}
        <a href="/members/{{ $e }}">{{ $e }}</a>{{ if (gt $authorsLen $i) }},{{end}}
        {{ end }}
    </aside>
    {{ end }}
{{ end }}
</main>
</div>
</body>

</html>


<footer>
  <hr><span style="float:right">Edited on {{ .Date.Format "Jan 2, 2006" }}
    <br></span><b>Console Labs</b> © 2026, <a
    href="https://github.com/consolelabs/consolelabs.github.io/blob/main/LICENSE.by-nc-sa-4.0.md"
    target="_blank">BY-NC-SA 4.0</a>
</footer>
