<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}">
  <head>
    {{ $favicon := resources.Get "favicon.ico" }}
    {{ $favicon16 := resources.Get "favicon-16x16.png" }}
    {{ $favicon32 := resources.Get "favicon-32x32.png" }}
    {{ $appleTouchIcon := resources.Get "apple-touch-icon.png" }}
    {{ $whiteImage := resources.Get "img/ConsoleLabs_logo_1.jpg" }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
    <meta name="keywords" content="{{ .Site.Params.tags }}">
    <meta name="title" content="{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    
    <!-- Facebook Meta -->
    <meta property="og:title" content="{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ $whiteImage.Permalink }}">
  
    <!-- Twitter Meta -->
    <meta property="twitter:title" content="{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta property="twitter:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="twitter:type" content="article">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:image" content="{{ $whiteImage.Permalink }}">
    
    <link rel="icon" type="image/x-icon" href="{{ $favicon.Permalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.Permalink }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.Permalink }}">
    <link rel="apple-touch-icon" href="{{ $appleTouchIcon.Permalink }}">
    <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink | absURL }}">
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=">
    <script defer data-domain="log.console.so" src="https://plausible.io/js/script.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    {{ $shareScript := resources.Get "js/share.js" }}
    <script defer src="{{ $shareScript.RelPermalink }}"></script>
    {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
    <style>{{ $styles.Content | safeCSS }}</style>

    {{ if .IsHome -}}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{ .Site.Title }}",
            "url": "{{ .Site.BaseURL }}",
            "description": "{{ .Site.Params.description }}",
            "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
            "license": "{{ .Site.Params.Copyright }}"
        }
        </script>
        {{ else if .IsPage }}
        {{ $author :=  or (.Params.author) (site.Params.author.name) }}
        {{ $org_name :=  .Site.Title }}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "articleSection": "{{ .Section }}",
            "name": "{{ .Title | safeJS }}",
            "headline": "{{ .Title | safeJS }}",
            "alternativeHeadline": "{{ .Params.lead }}",
            "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
            "inLanguage": {{ site.Language.Locale | default "en-us" }},
            "isFamilyFriendly": "true",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ .Permalink }}"
            },
            "author" : {
                "@type": "Person",
                "name": "{{ $author }}"
            },
            "creator" : {
                "@type": "Person",
                "name": "{{ $author }}"
            },
            "accountablePerson" : {
                "@type": "Person",
                "name": "{{ $author }}"
            },
            "copyrightHolder" : "{{ $org_name }}",
            "copyrightYear" : "{{ .Date.Format "2006" }}",
            "date": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
            "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
            "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
            "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
            "publisher":{
                "@type":"Organization",
                "name": {{ $org_name }},
                "url": {{ .Site.BaseURL }},
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ .Site.Params.logo | absURL }}",
                    "width":"32",
                    "height":"32"
                }
            },
            "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
            "url" : "{{ .Permalink }}",
            "wordCount" : "{{ .WordCount }}",
            "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
            "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
        }
        </script>
        {{ end }}
        <style>
            body {
              visibility: hidden;
              opacity: 0;
            }
        </style>
        <noscript>
            <style>
              body {
                visibility: visible;
                opacity: 1;
              }
            </style>
          </noscript>
        <script type="text/javascript">
            window.addEventListener('DOMContentLoaded', function () {
                document.body.style.visibility = 'visible';
                document.body.style.opacity = 1;
            });
        </script>
    </head>

    {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}

    <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
        <a id="tooltip" class="pop" href="#" target="_blank">
          <svg class="icon icon--twitter" viewBox="0 0 101.53 82.49" xmlns="http://www.w3.org/2000/svg"><path d="m91 20.62a18.68 18.68 0 0 1 .19 2.58 58.44 58.44 0 0 1 -4 20.92 66.22 66.22 0 0 1 -11.2 19 53.33 53.33 0 0 1 -18.84 14 59.6 59.6 0 0 1 -25.28 5.35 58.34 58.34 0 0 1 -31.87-9.3c1.72.13 3.37.2 5 .2a40.78 40.78 0 0 0 26-8.92 19.07 19.07 0 0 1 -12-4.07 20.6 20.6 0 0 1 -7.3-10.38 20.75 20.75 0 0 0 4.16.4 26.41 26.41 0 0 0 5.95-.6 18.82 18.82 0 0 1 -11.2-7.24 21.21 21.21 0 0 1 -4.26-13.21v-.35c0 .79.89 1.42 2.67 1.88a22.14 22.14 0 0 0 5.65.7 25.41 25.41 0 0 1 -7.53-7.58 17.48 17.48 0 0 1 -3-9.71 21.19 21.19 0 0 1 2.8-10.52 59.45 59.45 0 0 0 19.14 15.46 57.54 57.54 0 0 0 23.92 6.35 19.39 19.39 0 0 1 -.59-4.76 20 20 0 0 1 6.11-14.67 20.84 20.84 0 0 1 29.94.39 44.74 44.74 0 0 0 13.29-4.95 20.48 20.48 0 0 1 -9.32 11.5 42.27 42.27 0 0 0 12.1-3.37 45.93 45.93 0 0 1 -10.53 10.9z"></path></svg>
          <div class="pop__arrow"></div>
        </a>
        <header>
            {{ $image := resources.Get "img/ConsoleLabs_logo.png" }}
            <a href="/">
                <img src="{{ $image.Permalink }}" alt="ConsoleLabs" height="103px" style="margin:-28px -26px;">
            </a>
        </header>

        <div>
            {{ partial "menu.html" . }}

            <main>
                <!-- <a href="/">{{ .Site.Title }}</a> / <a href="{{ .RelPermalink }}">{{ .Title }}</a> -->

                {{ if .Params.notice -}}
                <div class="notice">{{ .Params.notice }}</div>
                {{ end }}

                {{ if .Params.toc -}}
                <aside class="toc">{{ .TableOfContents }}</aside>
                {{ end }}
